*{
    margin: 0;
    padding: 0;
    font-family: 'Gilgroy';
}
html,body{
    width: 100%;
    height: 100%;
}
#main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color: rgb(29, 27, 27);
}
#panel{
    overflow: hidden;
    height: 80%;
    width: 80%;
    background-color: rgb(197, 185, 209);
    border-radius: 12px;
}
#paneltop{
    /* padding: 0 30%; */
    justify-content: space-between;
    display: flex;
    justify-items: center;
    justify-content: center;
    width: 100%;
    height: 80px;
    background-color: rgb(66, 51, 64);
}
.elem{
    justify-content: space-between;
    display: flex;
    align-items: center;
    /* background-color: red; */
    
    /* padding: 0 10px; */
    
}
#score{
    justify-content: space-between;
    display: flex;
    margin: 0 5px;
    color: white;
    gap: 5px;
    font-weight: 600;
    font-size: larger;
    font-family: 'Gilroy';
    
    
}
.box{
    gap: 50px;
    display: flex;
    background-color: white;
    color: rgb(44, 4, 56);
    padding: 0px 10px;
    border-radius: 5px;
    font-weight: 700;
    
}
#pnlbtm{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    padding: 20px;
    width: 100%;
    height:490px;
    background-color: black;
}
#bubble{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;   
     width: 30px;
    height: 30px;
    border-radius: 50%;
    color: white;
    text-align: center;
    background-color: rgb(115, 11, 212);
    
}
#bubble:hover{
    background-color: rgb(50, 218, 8);
}